
body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background: #333333; /* RODAPÉ*/
    font-family: 'Varela', sans-serif;
    font-size: 11pt;
    font-weight: 300;
    color: black;

} 

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: #000; /*FRASE MEIO*/
}

p,
ol,
ul {
    margin-top: 0;
}

ol,
ul {
    padding: 0;
    list-style: none;
}
ul.actions {
    text-align: center;
}



a {
    color: #0000FF;
}

a:hover {
    text-decoration: none;
}

.container {
    overflow: hidden;
    margin: 0em auto;
    width: 1000px;
}

.image {
    display: inline-block;
}

.image img {
    display: block;
    width: 100%;
}

.image-full {
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
}

.image-left {
    float: left;
    margin: 0 2em 2em 0;
}

.image-centered {
    display: block;
    margin: 0 0 2em 0;
}

.image-centered img {
    margin: 0 auto;
    width: auto;
}


ul.staff {
    margin-bottom: 3em;
}

ul.staff li {
    display: inline-block;
}

ul.staff li img {
    width: 80%;
    border-radius: 50%;
}


.button {
    display: inline-block;
    padding: 0em 3em;
    background: #af1641;
    border-radius: 7px;
    letter-spacing: 0.20em;
    line-height: 4em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    color: #FFF;
}

.button:before {
    display: inline-block;
    background: #FFC31F;
    margin-right: 1em;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    color: #272925;
}

/*********************************************************************************/

/* Heading Titles                                                                */

/*********************************************************************************/

.title {
    margin-bottom: 3em;
}

.title h2 {
    text-transform: uppercase;
    font-size: 2.7em;
}

.title .byline {
    font-size: 1.7em;
    color: #2b3f48;
}

/*********************************************************************************/

/* 4-column                                                                      */

/*********************************************************************************/

.box1,
.box2,
.box3,
.box4 {
    width: 235px;
}

.box1,
.box2,
.box3
{
    float: left;
    margin-right: 20px;
}

.box4 {
    float: right;
}

/*********************************************************************************/

/* 3-column                                                                      */

/*********************************************************************************/

.boxA,
.boxB,
.boxC {
    width: 320px;
}

.boxA,
.boxB {
    float: left;
    margin-right: 20px;
}

.boxC {
    float: right;
}

/*********************************************************************************/

/* 2-column                                                                      */

/*********************************************************************************/

.tbox1,
.tbox2 {
    width: 575px;
}

.tbox1 {
    float: left;
}

.tbox2 {
    float: right;
}

#wrapper {
    background: #f2f7fa; /*FUNDO*/
}

/*********************************************************************************/

/* Logo                                                                          */

/*********************************************************************************/


#logo h1 {
    color: #FFF;
}

#logo a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
}

#banner {
    overflow: hidden;
    padding: 1em 0em 5em 0em;
    background-image: url("images/fundo.png");
    background-size: cover;
    text-align: center;
    color: 000(255, 255, 255, .8);
}

#banner .title {
    margin-bottom: 1em;
    text-transform: uppercase !important;
}
#banner .title h2 {
    color: #000;
}

#banner .title .byline {
    color: #000;
}

#banner .button {
    margin-top: 3em;
    background: #3273dc !important;
}


#page {
    padding: 5em 0em;
    text-align: center;
    font-size: 1.2em;
}

#page .button {
    margin-top: 2em;
    display: inline-block;
    text-align: center;
    background: #3273dc;
}


#copyright {
    overflow: hidden;
    padding: 5em 0em;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
}

#copyright p {
    text-align: center;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.5);
}

#copyright a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}


#featured {
    overflow: hidden;
    padding: 5em 0em;
    background-image: url("images/fundo.png");
    color: #000;
    text-align: center;
    font-size: 1.4em;
}

#featured a {
    color: rgba(255, 255, 255, 1);
}

#featured .button {
    background: #FFF;
    margin-top: 3em;
    font-size: 1em;
    background: #3273dc !important;
}

#featured img {
    margin-bottom: 3em;
    border-radius: 7px;
}

#featured .title h2 {
    color: #000;
}

#featured .title .byline {
    color: #000;
}


.box {
    padding: 3em 2em 2em 2em;
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-radius: 70px;
    text-align: center;
    background-color: #060120;
    font-size: 1.1em;
    color: white;
}

#extra {
    overflow: hidden;
    padding: 5em 0em;
}

#extra .title {
    text-align: center;
}

#extra .button {
    margin-top: 5em;
    background: #3273dc;
}

#extra .fa {
    display: block;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 3em;
} 
/*-------------------------------------CONFIGURAÇÃO IMAGENS---------------------------------------*/
*{ margin: 0; padding: 0; }
.slider {
    display: block;
    height: 200px;
    width: 800px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #060120;
    bottom: 15px;
    cursor: pointer;
    display: block;
    height: 15px;
    position: absolute;
    width: 15px;
    z-index: 15;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

/*------------------------------------------------- */

